#tags{
height: 35vh;
width: 100%;
background-color: rgb(50, 47, 47);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-style: oblique;
font-family: Ubuntu-light-italic;
}
.caja-tags{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
}
.tag{
    border: solid 2px white;
    padding: 7px;
    border-radius: 2px;
    color: white;
    text-decoration: none ;
    font-family: Ubuntu;
}
.active{
    background-color: white;
    color: gray;
    border: solid 2px gray;
    text-decoration: underline;
    font-family: Ubuntu;
    font-style: italic;
}
.titulo{
    margin: 10px;
    color: rgb(255, 255, 255);
    font-family: Ubuntu-light-italic !important;
    text-shadow: black 5px 5px 5px;
}
.tag:hover{
    box-shadow: 0px 0px 5px white,0px 0px 5px white,0px 0px 5px white;
    transition: 0.5s;
}
#capititulo{
    width: 350px;
    height: 110px;
    border-radius: 10px;
}
#capititulo:hover{
    width: 350px;
    height: 110px;
    box-shadow: 3px 3px 5px white,0px 0px 7px white,0px 0px 7px white;
    transition: 0.5s;
}

@font-face {
    font-family: Jost;
    src: url(../../fonts/Jost-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: Jost-1;
    src: url(../../fonts/Jost-VariableFont_wght.ttf);
}
@font-face {
    font-family: Ubuntu;
    src: url(../../fonts/Ubuntu);
}
@font-face {
    font-family: Ubuntu-light-italic;
    src: url(../../fonts/Ubuntu/Ubuntu-LightItalic.ttf);
}
@media (min-width: 330px) and (max-width: 530px) {
    #tags{height: 35vh;}
}
