
*{
    margin: 0px;
}
.derecha{
    border-radius: 2px;
    height: 100vh;
    width: 25%;
    text-align: left;
    background-color:rgb(65, 62, 62);
    transition: 1s;
    position: fixed;
}
.boton-menu{
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 40px;
    position: relative;
    background-color: rgb(72, 68, 68);
    position: fixed;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.barra1{
    width: 25px;
    height: 5px;
    background-color: rgb(114, 12, 210);
    margin: 2px;
}
.barra2{
    width: 25px;
    height: 5px;
    background-color: rgb(24, 252, 252);
    margin: 2px;
}
.barra3{
    width: 25px;
    height: 5px;
    background-color: rgb(255, 255, 78);
    margin: 2px;
}
#menu{
    z-index: 3;
}
.izquierda{
    border-radius: 2px;
    height: 100vh;
    width: 25%;
    text-align: left;
    background-color: black;
    transition: 1s;
    margin-left: -25%;
    position: fixed;
}
.menu{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: colorRetrasado 3s infinite;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    
}
.opcion{
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;    
    margin-top: 3px;
    margin-bottom: 3px;
    animation: color 3s infinite;
    text-decoration: none;
    color: white;
    border: 2px inset gray;
    box-shadow: 0px 0px 15px black inset;
    border-radius: 15px;
    margin: 5px;
    font-family: sans-serif;
}
.boton-menu-cerrar{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: colorRetrasado 3s infinite;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}
.linea-recta-menu{
    height: 2px;
    width: 100%;
    color: aqua;
    background-color: white;
    margin-bottom: 15px;
    box-shadow: 0px -8px 12px black,0px -10px 12px black,0px -8px 12px black;
}
.linea-recta-cerrar{
    height: 2px;
    width: 100%;
    color: aqua;
    background-color: white;
    margin-top: 15px;
    box-shadow: 0px 10px 12px black,0px 10px 12px black,0px 10px 12px black,0px 10px 12px black,0px 10px 12px black;
}
ion-icon {
    margin-left: 5px; 
    margin-right: 5px;
    color: rgb(79, 178, 224) !important;
 }
 @media (min-width: 1px) and (max-width: 792px) {
    .izquierda{
        width: 60vw;
        margin-left: -60%;
    }
    .derecha{
        width: 60vw;
    }
 }


